hr{
       
    border-style: dotted none none;
    border-color: rgb(237, 195, 119);
    height: 0px;
    width: 10%;
    border-width: 8px;
    text-align: center;
    
  }
  body{
    background-color: aquamarine;
  }

  h1{
    color: orange;
  }
  h3{
    color: brown;
  }
  table{
    width: 70%;
  }
  input{
    width:100%;
  }
  textarea{
    width:100%;
  }
  #submit{
    border-radius: 40px;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
 #submit:hover {
  background-color: #c34b4d;
  }
  img:hover{
    
    
      opacity: 0.8;
      cursor: pointer;
      
  
  }